html {
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

h1 {
    font-size: 3rem;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}